*.suo
/Dsl/GeneratedCode/ConnectionBuilders.cs
/Dsl/GeneratedCode/Connectors.cs
/Dsl/GeneratedCode/Diagram.cs
/Dsl/GeneratedCode/DomainClasses.cs
/Dsl/GeneratedCode/DomainModel.cs
/Dsl/GeneratedCode/DomainModelResx.resx
/Dsl/GeneratedCode/DomainRelationships.cs
/Dsl/GeneratedCode/HelpKeywordHelper.cs
/Dsl/GeneratedCode/MVCVisualDesignerSchema.xsd
/Dsl/GeneratedCode/MultiplicityValidation.cs
/Dsl/GeneratedCode/PropertiesGrid.cs
/Dsl/GeneratedCode/SerializationHelper.cs
/Dsl/GeneratedCode/Serializer.cs
/Dsl/GeneratedCode/Shapes.cs
/Dsl/GeneratedCode/ToolboxHelper.cs
/Dsl/bin/
/Dsl/obj/
/DslPackage/GeneratedCode/CommandSet.cs
/DslPackage/GeneratedCode/Constants.cs
/DslPackage/GeneratedCode/DocData.cs
/DslPackage/GeneratedCode/DocView.cs
/DslPackage/GeneratedCode/EditorFactory.cs
/DslPackage/GeneratedCode/GeneratedVSCT.vsct
/DslPackage/GeneratedCode/ModelExplorer.cs
/DslPackage/GeneratedCode/ModelExplorerToolWindow.cs
/DslPackage/GeneratedCode/Package.cs
/DslPackage/ProjectItemTemplates/CSharp.vstemplate
/DslPackage/ProjectItemTemplates/VisualBasic.vstemplate
/DslPackage/bin/
/DslPackage/obj/
/DslPackage/source.extension.vsixmanifest


#
# Debugging Project
#
/Debugging/obj/
/Debugging/bin/
/Debugging/MVCVisualDesignerReport.txt
/Debugging/MVCVisualDesignerReportVB.txt

/Dsl/CustomCode/FixUpDiagram.cs
/Dsl/CustomCode/WidgetType.cs


/CodeGenerator/bin/
/CodeGenerator/obj/

/CodeGenerator/RazorCodeGenerator/RazorCodeGenerator.cs
/CodeGenerator/RazorCodeGenerator/VD*Impl.cs
/CodeGenerator/RazorCodeGenerator/DefaultRazorCodeGeneratorImpl.cs

/Dsl/CustomCode/Diagram_BindFields.cs

/Utility/bin/
/Utility/obj/

/ObjectListView/bin/
/ObjectListView/obj/
