<#@ Dsl processor="DslDirectiveProcessor" requires="fileName='..\..\Dsl\DslDefinition.dsl'" #>
<#
	// CmdSet Guid must be defined before master template is included
	// This Guid must be kept synchronized with the CommandSetId Guid in Constants.tt
	Guid guidCmdSet = new Guid ("a2e2b034-d188-472a-a085-e85316f93e29");
#>
<#@ include file="DslPackage\GeneratedVSCT.tt" #>
